:root {
  --primary: #282c34;
  --secondary: #ffffff;
  --tertiary: #3d405b;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
  margin: 0;
  padding: 50px;
}

.main {
  display: flex;
  background-color: var(--primary);
  min-height: 100vh;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 0 auto;
  @media (max-width: 768px) {
    font-size: 17px;
  }
  img {
    height: 40vmin;
    pointer-events: none;
  }
  h1 {
    margin: 0;
    text-align: center;
  }
}

.calculator {
  display: flex;
  flex-direction: column;

  form {
    max-width: 550px;
    width: 90%;
    background-color: var(--secondary);
    color: var(--primary);
    margin: 6vh auto 0 auto;
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box;
  }
  label {
    display: block;
    margin: 20px 0;
  }
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .button {
    text-align: center;
  }
}
.selectInput {
  transition: all 0.4s;
  overflow: hidden;

  select {
    padding: 12px 24px;
    width: 100%;
    font-size: 21px;
    @media (max-width: 768px) {
      font-size: 17px;
    }
  }
  option {
    list-style: none;
    font-size: 18px;
  }
}

.radioInput {
  label {
    display: flex;
    align-items: center;
    margin-bottom: 0.375em;
  }
  input {
    width: 20%;
  }
}

.submitBtn {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--tertiary);
  color: var(--secondary);
  border: none;
  font-size: 17px;
  padding: 16px;
  max-width: 200px;
  width: 90%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 5px;

  @media (max-width: 768px) {
    font-size: 12px;
  }

  :hover {
    transform: scale(1.05);
  }
}

.price {
  margin-top: 5px;
}
